.App {
  background: #f6f6f6; }

.pot__heading, .pot__subheading {
  text-align: center; }

.pot__heading {
  margin-bottom: 16px;
  font-weight: normal; }

.pot__subheading {
  font-size: 12px;
  color: #ccc; }

.pot--wrapper {
  max-width: 620px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 32px; }

.pot-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.btn {
  padding: 10px 32px;
  border-radius: 2px; }
  .btn-default {
    border: 1px solid #666666; }

.card {
  border: none;
  padding: 32px 0 0;
  margin-bottom: 12px; }
  .card ul {
    padding: 0;
    list-style: none; }
  .card__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 20px 20px; }
  .card__title {
    font-size: 18px;
    font-weight: 600; }
  .card__text {
    font-size: 14px;
    margin: 0;
    color: #1D8BF1; }
    .card__text span {
      color: #000; }
  .card__wrapper {
    width: 100%;
    display: block; }

.check--box {
  position: absolute;
  top: -9999px;
  left: -9999px; }
  .check--box__label {
    background: #fff;
    border-radius: 1rem;
    padding: 10px;
    margin: 0;
    height: 10px;
    align-self: center;
    position: relative;
    border: 1px solid #ccc; }

.check--box:checked + .check--box__label::before {
  content: "";
  background: #1D8BF1;
  border-radius: 1rem;
  padding: 5px;
  margin: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 3px;
  bottom: 0px;
  left: 3px;
  border: 2px solid #1D8BF1; }
