@import "variables";

.App {
  background: $n-background
}

.pot {
  &__heading, &__subheading {
    text-align: center;
  }
  &__heading{
    margin-bottom: 16px;
    font-weight: normal;
  }
  &__subheading{
    font-size: 12px;
    color: $gray;
  }

  &--wrapper {
    max-width: 620px;
    background: $white;
    border: 1px solid #ccc;
    padding: 32px;
  }
  &-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

.btn {
  padding:10px 32px;
  border-radius: 2px;

  &-default {
    border: 1px solid lighten($color: $black, $amount: 40%);
  }
}

.card{
  border: none;
  padding: 32px 0 0;
  margin-bottom: 12px;

  ul {
    padding: 0;
    list-style: none;
  }
  &__item{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    padding: 20px 20px;
  }
  &__title{
    font-size: 18px;
    font-weight: 600;
  }

  &__text{
    font-size: 14px;
    margin: 0;
    color: $n-blue;
    span{
      color: $black;
    }
  }

  &__wrapper{
    width: 100%;
    display: block
  }
}

.check--box {
  position: absolute;
  top: -9999px;
  left: -9999px;

  &__label {
    background: $white;
    border-radius: 1rem;
    padding: 10px;
    margin: 0;
    height: 10px;
    align-self: center;
    position: relative;
    border: 1px solid $gray;
  }
}

.check--box:checked + .check--box__label::before{
  content: "";
  background: $n-blue;
  border-radius: 1rem;
  padding: 5px;
  margin: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 3px;
  bottom: 0px;
  left: 3px;
  border: 2px solid $n-blue;
}